.InputField{
    padding: 10px 13px;
    display: flex;
    justify-content: space-between;
    height: 20px;

    border-radius: 6px;
    border: 1px solid #4791FF;
}
.InputField:hover{

    border-radius: 6px;
    border: 1px solid #1673FF;
}

.InputField:focus-visible{
    outline: none;
    border: 1px solid #1673FF;
}

.TextStyle{
    font-family: "Montserrat-Ace-Regular", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 160%;
    color:rgba(0, 0, 0, 0.7)
}
.TitleH4{
    font-size: 14px;
}